body {background-image: url(images/technology.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

h2 {width: 100px;
    height: auto;
    margin: 10px;
    border-style: solid;
    border-radius: 40px;
    background-color: aquamarine;
}

p {text-align: center;
font-size: 25px;
}
a {
    height: auto;
    border-style: solid;
    border-radius: 2cm;
    background-color: rgba(66, 85, 76, 0.76);

}